# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.AI_1prd.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Project based ignored files
__pycache__/
*.py[cod]
.DS_Store
Thumbs.db
*.log
*.tmp
*.pyo
*.pyc
*.pytest_cache/
coverage.xml
htmlcov/
.idea/
